.body {
    display: flex;
    flex-direction: row;
    min-height: 90.5vh;
    max-height: 90.5vh;
}

.inp-out {
    display: flex;
    flex-direction: column;
    width: 30%;
}

.tab-text > i {
    margin-top: 1.5rem;
}

.tab-text {
    border-top: 1.5px solid #2E2E2E;
    outline: none;
    width: 3%;
    min-height: 90.5vh;
    max-height: 90.5vh;
    font-size: 1rem;
    font-family: 'Verdana';
    background-color: #365263;
    padding: 0.5rem;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#snackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    color: white;
    border-radius: 15px;
    text-align: center;
    padding: 16px;
    position: fixed;
    right: 0.5rem;
    top: 3.5rem;
    font-size: 17px;
}

#snackbar.show {
    visibility: visible;
    animation: fadein 1s, fadeout 1s 2.2s;
}
 
 @keyframes fadein {
   from {right: 0; opacity: 0;}
   to {right: 0.5rem; opacity: 1;}
 }
 
 @keyframes fadeout {
   from {right: 0.5rem;; opacity: 1;}
   to {right: 0; opacity: 0;}
 }

#editor {
    font-size: 1rem;
    width: 70%;
    resize: none;
    border-right: 3px solid black;
}

#input {
    border-bottom: 1px solid black;
}

#output {
    border-top: 1px solid black;
    overflow: auto;
}

.small {
    color: white;
    font-size: 0.9rem;
}

textarea , #output {
    background-color: #2E2E2E;
    color: white;
    height: 48%;
    resize: none;
    border: none;
    outline: none;
}

.crs {
    cursor: pointer;
}

.inp-out > #inp,#out {
    position: relative;
    padding: 0.5rem;
    color : white;
    font-size: 1rem;
    font-family: 'Verdana';
    background-color: #272727;
}